.calendar-header {
  width: 350px;
  height: 44px;
  margin-bottom: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-btn {
  width: 44px;
  height: 44px;
  background-color: white;
  border: 0;
  cursor: not-allowed;
}

.nav-btn:hover {
  background-color: #e6e6e6;
}

.month-label {
  flex-grow: 1;
  text-align: center;
  font-weight: bold;
}
